.container{
    padding: 0px 50px;
    height: 100px;
    position: sticky;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.logo{
    padding: 10px;
}

.navlinks{
    font-weight: bold;
    padding: 20px;
}

.navlinks > a:hover{
    color: rgb(116, 114, 114);
}